body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color {
  background-color: red;
}

.article-section {
  width: 70%; 
  float: left;
  margin: 0 0.8em;
}

.links-section {
  width: 25%;
  float: right;
}
